beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2022.12.7
chardet==3.0.4
idna==2.7
progressbar==2.5
progressbar2==3.38.0
python-utils==2.3.0
requests==2.20.1
requests-cache==0.4.13
six==1.12.0
urllib3==1.24.1
